@keyframes deslizagemDireita {
    from {
        left: -1000px;
    }

    to {
        left: 0px;
    }
}

@keyframes deslizagemEsquerda {
    from {
        left: 0px;
    }

    to {
        left: -1000px;
    }
}

@keyframes deslizagemParaBaixo {
    from {
        top: -1000px;
    }

    to {
        top: 0px;
    }
}

@keyframes rotacao1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotacao2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}