// Variáveis
$imagem-hero: url(../img/hero_escuro.jpg);
$cor-hover-link: #89c4f4;

body {
    margin: 0px;
    font-family: "poiret";
}

// Imports
@import 'fontes';
@import 'menu';
@import 'hero';
@import 'propaganda';
@import 'rodape';
@import 'media_queries';